
body, html{
    font-family: 'Ubuntu', sans-serif;
}

*, *::after, *::before{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

@keyframes rotating {
    from {
        rotate: 0;
        -webkit-transform: rotateZ(0);
    } to {
        -webkit-transform: rotateZ(4*360);
        rotate: 360*4deg;
    }
}


#App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: relative;
}

.slider{   
    &::-webkit-slider-thumb {
    background: url(./assets/icons/f00uly.svg);
    width: 2rem;
    height: 2rem;
    background: url(./assets/icons/f00uly.svg);
    border: none;
    }
    &::-moz-range-thumb{
        width: 2rem;
        height: 2rem;
        background: url(./assets/icons/f00uly.svg);
        border: none;
    }
    border: solid 0.1rem #333138;
    height: 1.9rem;
    border-radius: 1rem;
    width: 100%;
    &__text{
        margin-bottom: 1rem;
    }
}

.picker__button{
    border-radius: 2rem;
    color: #FFFFFA;
    background-color:#333138;
    border: none;
    height: 2rem;
    width: 60%;
    margin-top: 2rem;
}

.picker__container{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.slider__container{
    margin-top: 2rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.toast{
    padding: 0 1rem;
    border-radius: 1rem;
    justify-content: space-evenly;
    box-shadow: 2px 2px 10px #638475;
    display: flex;
    align-items: center;
    position: fixed;
    height: 40%;
    width: 90%;
    background-color: #333138;
    flex-direction: column;

    @media (min-width:1280px) {
        width: 20rem;
    }

    &__message{
        color: #FFFFFA;
        text-align: center;
        margin-bottom: 0;
    }
    &__button{
        width: 5rem;
        height: 3rem;
        border-radius: 1rem;
        border: none;
        background-color: #DB324D;
        color: #FFFFFA ;

    }

}

.navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-color: #333138;

    &__list{
        display: flex;
        justify-content: space-evenly;

    }
    &__item{
        display: inline;
        color:#FFFFFA;
    }
}


a{
    text-decoration: none;
    color: #FFFFFA;
}



#if-water {
    display: none;
}
#no-water{
    display: none;
}

.waiting{
    @extend .toast;
    display: none;



    &__svg{
        width:15rem;
        height: auto;
        &--animate{
            -webkit-animation:rotating 4s normal;
            animation: rotating 4s normal;
        }
    }

    
    
}



#error{
    display: none;
}